{% extends "mythos/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}

    {{ block.super }}

    <div class="container-fluid">
        <h1 class="col-sm-offset-2">{% block header %}{{ title }}{% endblock header %}</h1>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-6">

                <!-- Detail Content -->
                {% block content %} Content {% endblock content %}

                <!-- Videos -->
                {% if videos %}
                    <div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Videos</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for video in videos %}
                                <tr>
                                    <td style="border-top:none">
                                        <iframe id="ytplayer" type="text/html" src="{{ video.link }}" style="padding-top:4px;min-height:360px" class="col-xs-12 col-lg-8" frameborder="0"></iframe>
                                    </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>

            <div class="col-sm-4" style="padding-bottom:32px">
                {% for image in images %}
                    {% if forloop.first %}
                            <a href="{{ image.link }}"><img src="{{ image.link }}" class="col-xs-12 col-sm-8"></a>
                    {% else %}
                        <a href="{{ image.link }}"><img src="{{ image.link }}" style="padding:2px 2px 2px 2px;overflow:hidden;max-height:128px;max-width:64px"></a>
                    {% endif %}
                {% endfor %}


                <!-- Related Figures -->
                    
                {% if related_figures %}
                    <table class="table">
                      <thead>
                        <tr><th> {% block relatedFigureTitle %} Related Figures {% endblock relatedFigureTitle %}</th></tr>
                      </thead>
                      <tbody>
                        {% for figure in related_figures %}
                            <tr>
                              <td style="border-top:none"><a href="/figures/{{ figure.id }}"> {{ figure.name }} </a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                {% endif %}

                {% if related_stories %}
                    <table class="table">
                      <thead>
                        <tr><th> {% block relatedStoriesTitle %} Related Stories {% endblock relatedStoriesTitle %}</th></tr>
                      </thead>
                      <tbody>
                        {% for story in related_stories %}
                            <tr>
                              <td style="border-top:none"><a href="/stories/{{ story.id }}"> {{ story.name }} </a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                {% endif %}

                {% if related_cultures %}
                    <table class="table">
                      <thead>
                        <tr><th> {% block relatedCulturesTitle %} Related Cultures {% endblock relatedCulturesTitle %}</th></tr>
                      </thead>
                      <tbody>
                        {% for culture in related_cultures %}
                            <tr>
                              <td style="border-top:none"><a href="/cultures/{{ culture.id }}"> {{ culture.name }} </a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                {% endif %}
                
            </div>

        </div>

        <div class="col-sm-offset-2 col-sm-6">
            
            
            <!-- External Links -->
            {% if external_links %}
                <div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>External Links</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for media in external_links %}
                            <tr>
                              <td style="border-top:none"><a href="{{ media.link }}"> {{ media.name }} </a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% endif %}

        </div>

    </div>

    <div>
    </div>
    
{% endblock body %}