{% extends "mythos/base.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}

{% block body %}

    {{ block.super }}
    
    <div class="col-md-offset-2 col-md-8" style="padding:2% 0 0 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center" style="font-weight:100;font-size:32px">{% block tableHeader %} {{ title }} {% endblock tableHeader %}</th>
            </tr>
          </thead>
          <tbody>
            {% block tableBody %}
            Table Body
            {% endblock tableBody %}
          </tbody>
        </table>
    </div>

{% endblock body %}