{% extends "mythos/base.html" %}

{% block body %}

    {{ block.super }}
    
    <div class="col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4" style="padding:5% 0 0 0">
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Cultures</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
                <tr>
                  <td><div> {{ item.name }}</div></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock body %}