<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %} Base Title {% endblock title %}</title>
        <!-- Bootstrap -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
  
    <body>
      {% block body %}
       <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="nav-target">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mythos</a>
          </div>

          <div class="collapse navbar-collapse" id="nav-target">
            <ul class="nav navbar-nav navbar-right" style="padding-right:5%">
              <li><a href="/cultures">CULTURES</a></li>
              <li><a href="/stories">STORIES</a></li>
              <li><a href="/figures">FIGURES</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock body %} 
    </body>
    
</html>