{% extends "mythos/base.html" %}

{% block body %}

    {{ block.super }}
    
    <div class="container-fluid">
        <h1 class="col-sm-offset-2">{% block header %} Base Detail Page {% endblock header %}</h1>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-6">

                <!-- Detail Content -->
                {% block content %} Content {% endblock content %}

               
                <!-- Videos -->
                {% if videos %}
                    <div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Videos</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for video in videos %}
                                <tr>
                                    <td style="border-top:none">
                                        <iframe id="ytplayer" type="text/html" src="{{ video.link }}" style="padding-top:4px;min-height:360px" class="col-xs-12 col-lg-8" frameborder="0"></iframe>
                                    </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>

            <div class="col-sm-4" style="padding-bottom:32px">
                {% for image in images %}
                    {% if forloop.first %}
                            <a href="{{ image.link }}"><img src="{{ image.link }}" class="col-xs-12 col-sm-8"></a>
                    {% else %}
                        <a href="{{ image.link }}"><img src="{{ image.link }}" style="padding:2px 2px 2px 2px;overflow:hidden;max-height:128px;max-width:64px"></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-6">
            
            <!-- Related Figures -->
            {% if related_figures %}
                <div class="col-md-offset-2 col-md-8">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Related Figures</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for figure in related_figures %}
                            <tr>
                              <td><a href="/figures/{{ figure.id }}"> {{ figure.name }} </a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% endif %}

            <!-- External Links -->
            {% if external_links %}
                <div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>External Links</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for media in external_links %}
                            <tr>
                              <td style="border-top:none"><a href="{{ media.link }}"> {{ media.name }} </a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% endif %}

        </div>

    </div>
    
{% endblock body %}