{% extends "mythos/baseList.html" %}


{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}

{% block body %}

	<script type="text/javascript">
		$(function() {
		    var BV = new $.BigVideo();
		    BV.init();
		    BV.show('http://vjs.zencdn.net/v/oceans.mp4');
		});
	</script>
	

    {{ block.super }}

{% endblock body %}


{% block tableBody %}
    {% for item in items %}
        <tr>
          <td class="text-center list-td" style="border-top:none"><a class="list-td-a" href="/cultures/{{ item.id }}"  > {{ item.name }} </a></td>
        </tr>
    {% endfor %}
{% endblock tableBody %}