{% extends "mythos/baseDetail.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}


{% block relatedFigureTitle %} Notable Figures {% endblock relatedFigureTitle %}
{% block relatedStoriesTitle %} Notable Stories {% endblock relatedStoriesTitle %}
{% block relatedCulturesTitle %} Related Cultures {% endblock relatedCulturesTitle %}

{% block content %}
    <ul class="list-inline">
        <li style="color:#888">Region: {{ region }} </li>
        <li style="color:#888">Language: {{ language }} </li>
    </ul>
    <div>
        <table class="table">
          <thead>
            <tr>
              <th>History</th>
            </tr>
          </thead>
          <tbody>
                <tr><td style="border-top:none"><p class="text-justify"> {{ history }}</p></td></tr>
          </tbody>
        </table>
    </div>
   
{% endblock content %}



