{% extends "mythos/baseList.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}


{% block body %}

    {% load staticfiles %}
    <div class="bgimg" style="background:url({% static '300-1.gif' %}) no-repeat"></div>

    {{ block.super }}

{% endblock body %}

{% block tableHeader %} {{ title }} {% endblock tableHeader %}
{% block tableBody %}
    {% for item in items %}
        <tr>
          <td class="text-center list-td" style="border-top:none"><a class="list-td-a" href="/figures/{{ item.id }}"  > {{ item.name }} </a></td>
        </tr>
    {% endfor %}
{% endblock tableBody %}