{% extends "mythos/baseList.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}


{% block body %}
	<video autoplay loop muted id="bgvid">
        {% load staticfiles %}
        <source src="{% static 'story.webm' %}" type="video/webm">
        <source src="{% static 'story.mp4' %}" type="video/mp4">
    </video>

    {{ block.super }}

{% endblock body %}

{% block tableHeader %} {{ title }} {% endblock tableHeader %}
{% block tableBody %}
    {% for item in items %}
        <tr>
          <td class="text-center list-td" style="border-top:none"><a class="list-td-a" href="/figures/{{ item.id }}"  > {{ item.name }} </a></td>
        </tr>
    {% endfor %}
{% endblock tableBody %}