{% extends "mythos/baseDetail.html" %}

{% block relatedFigureTitle %} Related Figures {% endblock relatedFigureTitle %}
{% block relatedStoriesTitle %} Stories {% endblock relatedStoriesTitle %}
{% block relatedCulturesTitle %} Cultures {% endblock relatedCulturesTitle %}

{% block content %}
    <ul class="list-inline">
        <li style="color:#888">{{ kind }} </li>
    </ul>
    <div>
        <table class="table">
          <thead>
            <tr>
              <th>Biography</th>
            </tr>
          </thead>
          <tbody>
                <tr><td style="border-top:none"><p class="text-justify"> {{ biography }}</p></td></tr>
          </tbody>
        </table>
    </div>
{% endblock content %}

