{% extends "mythos/baseDetail.html" %}

{% block relatedFigureTitle %} Related Figures {% endblock relatedFigureTitle %}
{% block relatedStoriesTitle %} Stories {% endblock relatedStoriesTitle %}
{% block relatedCulturesTitle %} Cultures {% endblock relatedCulturesTitle %}

{% block body %}

  {% load staticfiles %}
  <div class="bgimg" style="background:url({% static 'figure.png' %}) no-repeat" id="bg"></div>
    <script type="text/javascript">
      if($(document).width() < 768) {
        document.getElementById('bg').style.background='black';
      }
    </script>
    {{ block.super }}

{% endblock body %}

{% block content %}
    <ul class="list-inline">
        <li style="color:#e74c3c">{{ kind }} </li>
    </ul>
    <div>
        <table class="table">
          <thead>
            <tr>
              <th>Biography</th>
            </tr>
          </thead>
          <tbody>
                <tr><td style="border-top:none"><p class="text-justify"> {{ biography }}</p></td></tr>
          </tbody>
        </table>
    </div>
{% endblock content %}

