{% extends "mythos/base.html" %}

{% block title %}Mythos{% endblock title %}

{% block body %}

    {{ block.super }}
    
    <div class="container container-fluid">
      {% load staticfiles %}
      <div class="bgimg" style="background:url({% static 'index-3.gif' %}) no-repeat" id="bg"></div>
      <script type="text/javascript">
        if($(document).width() < 768) {

          document.getElementById('bg').style.background='black';
        }
      </script>

        <div class="text-center">
            <h1 class="title" id="title">Mythos</h1>
            <h4 style="color:#FFF">by <a href="https://twitter.com/search?q=%23yoloswag">#yoloswag</a></h2>
        </div>

        <div class="col-xs-12 table-container">
          <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
              <table class="table">

                <thead>
                  <tr>
                    <th class="index-th text-center"><p>Name</p></th>
                    <th class="index-th text-center"><p>Github</p></th>
                    <th class="index-th text-center"><p>Favorite Hashtag</p></th>
                  </tr>
                </thead>

                <tbody>
                  <tr >
                    <td class="list-td index-td" style="border-top:none"><p>Comyar Zaheri</p></td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/comyarzaheri"><p>comyarzaheri</p></a></td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23yolo"><p>#yolo</p></a></td>
                  </tr>
                  <tr style="border-top:none">
                    <td class="list-td index-td" style="border-top:none"><p>Joshua Gutierrez</td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/joshuagutierrez"><p>joshuagutierrez</p></a></td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23throwback"><p>#throwback</p></a></td>
                  </tr>
                  <tr style="border-top:none">
                    <td class="list-td index-td" style="border-top:none"><p>Steven Wilken</td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/swilken"><p>swilken</p></a></td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23360noscope"><p>#360noscope</p></a></td>
                  </tr>
                  <tr style="border-top:none">
                    <td class="list-td index-td" style="border-top:none"><p>Sergio Escoto</td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/ses110"><p>ses110</p></a></td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23selfie"><p>#selfie</p></a></td>
                  </tr>
                </tbody>

              </table>
          </div>
        </div>

        <div class="text-center" style="padding-top:64px">
          <ul class="list-inline">
            <li style="padding-top:64px"><a href="/cultures"><button type="button" class="index-btn btn btn-lg btn-success">Cultures</button></a></li>
            <li style="padding-top:64px"><a href="/stories"><button type="button" class="index-btn btn btn-lg btn-success">Stories</button></a></li>
            <li style="padding-top:64px"><a href="/figures"><button type="button" class="index-btn btn btn-lg btn-success">Figures</button></a></li>
          </ul>
        </div>

    </div>

{% endblock body %}