{% extends "mythos/base.html" %}

{% block title %}Mythos{% endblock title %}

{% block body %}

    {{ block.super }}
    
<!--     {% load staticfiles %}
    <div class="bgimg" style="background:url({% static 'index-3.gif' %}) no-repeat"> -->

      <div class="text-center container-fluid">
          <h1 class="title">Mythos</h1>
          <h4 style="color:#FFF">by <a href="https://twitter.com/search?q=%23yoloswag">#yoloswag</a></h2>
      </div>

      <div class="col-xs-12 table-container">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <table class="table">

              <thead>
                <tr>
                  <th class="index-th text-center">Name</th>
                  <th class="index-th text-center">Github</th>
                  <th class="index-th text-center">Favorite Hashtag</th>
                </tr>
              </thead>

              <tbody>
                <tr >
                  <td class="list-td index-td" style="border-top:none">Comyar Zaheri</td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/comyarzaheri">comyarzaheri</a></td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23yolo">#yolo</a></td>
                </tr>
                <tr style="border-top:none">
                  <td class="list-td index-td" style="border-top:none">Joshua Gutierrez</td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/joshuagutierrez">joshuagutierrez</a></td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23throwback">#throwback</a></td>
                </tr>
                <tr style="border-top:none">
                  <td class="list-td index-td" style="border-top:none">Steven Wilken</td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/swilken">swilken</a></td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23360noscope">#360noscope</a></td>
                </tr>
                <tr style="border-top:none">
                  <td class="list-td index-td" style="border-top:none">Sergio Escoto</td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/ses110">ses110</a></td>
                  <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23selfie">#selfie</a></td>
                </tr>
              </tbody>

            </table>
        </div>
      </div>

      <div class="text-center" style="padding-top:64px">
        <ul class="list-inline">
          <li style="padding-top:64px"><a href="/cultures"><button type="button" class="index-btn btn btn-lg btn-success">Cultures</button></a></li>
          <li style="padding-top:64px"><a href="/stories"><button type="button" class="index-btn btn btn-lg btn-success">Stories</button></a></li>
          <li style="padding-top:64px"><a href="/figures"><button type="button" class="index-btn btn btn-lg btn-success">Figures</button></a></li>
        </ul>
      </div>

    </div>

{% endblock body %}