{% extends "mythos/base.html" %}

{% block title %}Mythos{% endblock title %}

{% block body %}

    {{ block.super }}
    
    <div class="bgindex" id="bgimg"></div>

    <div>
        <div class="text-center">
            <h1 class="index-title">Mythos</h1>
            <h4 style="color:#FFF">by <a href="https://twitter.com/search?q=%23yoloswag">#yoloswag</a></h2>
        </div>

        <div class="col-xs-12 index-table-container">
          <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 index-table">
              <table class="table">
                <thead>
                  <tr>
                    <th class="index-th text-center">Name</th>
                    <th class="index-th text-center">Github</th>
                    <th class="index-th text-center">Favorite Hashtag</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="list-td index-td" style="border-top:none">Comyar Zaheri</td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://github.com/comyarzaheri">comyarzaheri</a></td>
                    <td class="list-td index-td index-td-a" style="border-top:none"><a href="https://twitter.com/search?q=%23yolo">#yolo</a></td>
                  </tr>
                  <tr style="border-top:none">
                    <td class="list-td index-td" style="border-top:none">Joshua Gutierrez</td>
                    <td class="list-td index-td" style="border-top:none"><a href="https://github.com/joshuagutierrez">joshuagutierrez</a></td>
                    <td class="list-td index-td" style="border-top:none"><a href="https://twitter.com/search?q=%23throwback">#throwback</a></td>
                  </tr>
                  <tr style="border-top:none">
                    <td class="list-td index-td" style="border-top:none">Steven Wilken</td>
                    <td class="list-td index-td" style="border-top:none"><a href="https://github.com/swilken">swilken</a></td>
                    <td class="list-td index-td" style="border-top:none"><a href="https://twitter.com/search?q=%23360noscope">#360noscope</a></td>
                  </tr>
                  <tr style="border-top:none">
                    <td class="list-td index-td" style="border-top:none">Sergio Escoto</td>
                    <td class="list-td index-td" style="border-top:none"><a href="https://github.com/ses110">ses110</a></td>
                    <td class="list-td index-td" style="border-top:none"><a href="https://twitter.com/search?q=%23selfie">#selfie</a></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>

    </div>

{% endblock body %}