{% extends "mythos/base.html" %}


{% block title %}Pictures{% endblock title %}

{% block head %}

	{{ block.super }}

    {% load staticfiles %}
    <link href="{% static 'lightbox/css/screen.css' %}" rel="stylesheet"></link>
    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet"></link>
    <script src="{% static 'lightbox/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'lightbox/js/lightbox.js' %}"></script>

{% endblock head %}


{% block body %}
  
  {{ block.super }}
 
 <div id="images" style="padding:64px 32px 32px 32px">
    <h1 class="text-center title">Mythos Lightbox Gallery!</h1>
    <div class="text-center" style="color:#FFF" id="loading">Loading...</div>
 </div> 

<script type="text/javascript">
    var media = []

    var build = function() {
      $.each(media, function (index, value) {
          if(value['kind'] == "image") {
            $("#images").append("<a href='" + value['link'] + "' data-lightbox='blurb'><img src='" +  value['link'] + "' height=200 width=200></a>");
            $('#loading').remove();
          }
      });
    }

    var load = function() {
      $.when(
        $.getJSON("/api/media/?limit=95", function(data){
          media = data['objects'];
        })
      ).then(function() {
        build()
      });
    }

    document.getElementById("html").style.background="#111"
    load();

    </script>
  

{% endblock body %}