{% extends "mythos/base.html" %}


{% block title %}Pictures{% endblock title %}

{% block head %}

	{{ block.super }}

    {% load staticfiles %}
    <link href="{% static 'lightbox/css/screen.css' %}" rel="stylesheet"></link>
    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet"></link>
    <script src="{% static 'lightbox/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'lightbox/js/lightbox.js' %}"></script>

{% endblock head %}

{% block body %}
  
  {{ block.super }}


  


  <div style="padding: 64px 8px 8px 8px">
  		<div class="text-center">
		<div style="color:#FFF;font-size:24px">Random Mythology Gallery!</div>
  </div>

	{% for item in l %}
        	<a href="{{item}}" data-lightbox="blurb">
        	<img src="{{item}}" height="200" width="200">
        	 </a>
    {% endfor %}
  </div>

  <script type="text/javascript">
  	document.getElementById("html").style.background="#111"
  </script>
	  

{% endblock body %}