{% extends "mythos/base.html" %}


{% block title %}Pictures{% endblock title %}

{% block head %}

	{{ block.super }}

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <style>

      .group text {
        font: 11px sans-serif;
        pointer-events: none;
      }

      .group path {
        stroke: #000;
      }

      path.chord {
        stroke-width: .75;
        fill-opacity: .75;
      }

    </style>

{% endblock head %}


{% block body %}
  
  {{ block.super }}
 
 <div class="text-center">
    <script type="text/javascript">
    var figures = [],
        cultures = [],
        stories = []

    var build = function() {
      
    }

    var load = function() {
      $.when(
        $.getJSON("/api/figures", function(data){
          figures = data['objects'];
        }),
        $.getJSON("/api/cultures", function(data){
          cultures = data['objects'];
        }),
        $.getJSON("/api/stories", function(data){
          stories = data['objects'];
        })
      ).then(function() {
        build()
      });
    }


    load();

    </script>
 </div>
  

{% endblock body %}