{% extends "mythos/baseDetail.html" %}

{% block relatedFigureTitle %} Figures {% endblock relatedFigureTitle %}
{% block relatedStoriesTitle %} Related Stories {% endblock relatedStoriesTitle %}
{% block relatedCulturesTitle %} Cultures {% endblock relatedCulturesTitle %}


{% block body %}

  {% load staticfiles %}
  <div class="bgimg" style="background:url({% static 'story.png' %}) no-repeat" id="bg"></div>
  <script type="text/javascript">
      if($(document).width() < 768) {
        document.getElementById('bg').style.background='black';
      }
    </script>

    {{ block.super }}

{% endblock body %}


{% block content %}
    <div>
        <table class="table">
          <thead>
            <tr>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody>
                <tr><td style="border-top:none"><p class="text-justify"> {{ summary }}</p></td></tr>
          </tbody>
        </table>
    </div>
{% endblock content %}

