{% extends "mythos/baseList.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}

{% block body %}

    {% load staticfiles %}
	<div class="bgimg" style="background:url({% static 'story-1.gif' %}) no-repeat" id="bg"></div>
	<script type="text/javascript">
      if($(document).width() < 768) {
        document.getElementById('bg').style.background='black';
      }
    </script>

    {{ block.super }}

{% endblock body %}

{% block tableHeader %} {{ title }} {% endblock tableHeader %}
{% block tableBody %}
    {% for item in items %}
        <tr>
          <td class="text-center list-td" style="border-top:none"><a class="list-td-a" href="/stories/{{ item.id }}"  > {{ item.name }} </a></td>
        </tr>
    {% endfor %}
{% endblock tableBody %}