

#bgvid
{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(http://video-js.zencoder.com/oceans-clip.png) no-repeat;
	background-size: cover;
}

#bgimg
{
	position: fixed; top: 50px; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}

.bgfigure
{
	background:url(/static/300-1.gif) no-repeat;
}

.bgculture
{
	background:url(/static/culture.gif) no-repeat;
}

.bgindex
{
	background:url(/static/index-3.gif) no-repeat;
}

.bgstory
{
	background:url(/static/story-1.gif) no-repeat;
}

.list-td-a
{
	color: #FFF;
	font-size:24px;
}

.list-td
{
	color: #FFF;
}

.list-th
{
	color: #FFF;
	font-weight:100;
	font-size:32px;
}

a
{
	color: #EEE;
}